<section class="section container not-found">
  <div class="not-found__content">
    <!-- Reemplazamos el texto estático por variables de EJS -->
    <h1 class="not-found__title"><%= errorTitle %></h1>
    <p class="not-found__message"><%= errorMessage %></p>
    <a href="/" class="button button--primary button--lg">Volver al Inicio</a>
  </div>
</section>
